<footer class="z-50 bg-white shadow-sm relative  dark:bg-gray-800">
    <div class="container mx-auto w-full max-w-screen-xl md:py-8">
        <div class=" sm:flex sm:items-center sm:justify-between">
        <div class="flex items-center gap-2 mb-4 sm:mb-0">
            <img src="/images/logo-BfNap0Pe.png" class=" h-8" alt="Recipe">
            <span class="text-2xl font-semibold dark:text-white">Recipe</span>
        </div>
        <div>
            <span class="text-blue-700 dark:text-blue-500 font-bold text-2xl">Route</span>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <p class="sm:text-center text-sm block text-gray-500 dark:text-white font-semibold">© 2025 <span class="hover:underline cursor-pointer">Youssef Amr™</span>. All Rights Reserved.</p>
    </div>
</footer>